body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(#3ea5f4, #F5F5DC); 
    font-family: 'Arial', sans-serif;
}
.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}
.yes-button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #50C878;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .no-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
form{
  font-size: 1.5em;
}
